.clearfix {
    zoom:1;
    &:before, &:after {
        content: "";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

img.desaturate{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(assets/desaturate.svg#greyscale);

    &:hover{
        filter: none; /* Applies to FF + IE */
        -webkit-filter: grayscale(0);
    }
}

.hide-on-desktop{
    @include breakpoint(desktop){
        display: none;
    }
}

ul.side.list{
    li{
        display: block;
        padding: 5px 3px;
        border-bottom: 1px solid $lgrey;
        
        a{
            color: $grey;

            &:hover{
                color: $dgrey;
                text-decoration: none;
            }
        }
    }

    li.current{
        a{
            color: $blue;
        }
    }
}

.btn{
    display: inline;
    display: inline-block;
    padding: 10px;
    background: $blue;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    @include border-radius();

    &:hover{
        text-decoration: none;
    }
}

.btn-grey{
    @extend .btn;
    background: $grey;
}

a.more-after-list{
    display: block;
    float: right;

    &:before,
    &:after{
        clear: both;
    }
}