/*
Theme Name: Be Secure
*/

/* ========================= INIT ========================= */

@import "reset",
		"variables",
		"mixins",
		"extends",
		"columns",

		"ui/homepage",
		"ui/heading",
		"ui/footer",
		"ui/contact",
		"ui/products",
		"ui/blog",
		"ui/reveal",
		"ui/owl-theme",
		"ui/owl-carousel"
		;

/* ========================= GLOBAL ========================= */

*, *:after, *:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.circles{
	@extend .clearfix;
	position: absolute;
	width: 800px;
	height: 831px;
	top: 20%;
	left: 50%;
	margin: -500px 0 0 -860px;
	background: url(images/circles.png) top center no-repeat;
}

img{
	width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
}

ul { 
   list-style-type: disc; 
   list-style-position: inside; 
}


/* ========================= GRID ========================= */

.wrap{
	position: relative;
	z-index: 100;
	@extend .clearfix;
	background: #fff;
	@include border-radius();
	@include box-shadow( 0px, 0px, 4px, rgba(0, 0, 0, 0.3));

	@include breakpoint(mobile-ls){
		margin: 20px auto;
		width: 90%;
	}

	@include breakpoint(tablet){
		width: 728px;
	}

	@include breakpoint(tablet-ls){
		width: 960px;
	}

	@include breakpoint(desktop){
		width: 1100px;
	}

	@include breakpoint(desktop-wide){
	}
}

.twothird_column{
	margin-bottom: 40px;

	@include breakpoint(tablet){
		float: left;
		width: 75%;
		margin-bottom: 0px;
	}
}

.onethird_column{
	@include breakpoint(tablet){
		float: right;
		width: 20%;
	}
}

.onethird_column_left{
	margin-bottom: 40px;

	@include breakpoint(tablet){
		float: left;
		width: 15%;
		margin-bottom: 0px;
	}
}

.twothird_column_right{
	@include breakpoint(tablet){
		float: right;
		width: 80%;
	}
}


/* ========================= TYPOGRAPHY ========================= */

html, body{
	font-size: 100%;
	line-height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
	color: $dgrey;
	line-height: 1.3em;
}

a{
	text-decoration: none;
	color: $blue;
	@include transition(all, 0.2s, ease-in-out);

	&:hover{
		text-decoration: underline;
	}
}

strong{
	font-weight: 800;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 800;
	margin-bottom: 10px;
}

h1{
	font-size: 1.3em;
	line-height: 1.2em;

	@include breakpoint(tablet){
		font-size: 1.4em;
		line-height: 1.2em;
	}	

	@include breakpoint(desktop){
		font-size: 1.5em;
		line-height: 1.4em;
	}
}

h2{
	font-size: 1.2em;
	line-height: 1.1em;

	@include breakpoint(tablet){
		font-size: 1.3em;
		line-height: 1.1em;
	}	

	@include breakpoint(desktop){
		font-size: 1.4em;
		line-height: 1.3em;
	}
}

h3{
	font-size: 1.1em;
	line-height: 1em;

	@include breakpoint(tablet){
		font-size: 1.2em;
		line-height: 1em;
	}	

	@include breakpoint(desktop){
		font-size: 1.3em;
		line-height: 1.2em;
	}
}

h4{
	font-size: 1em;
	line-height: 1em;

	@include breakpoint(tablet){
		font-size: 1.1em;
		line-height: 1em;
	}	

	@include breakpoint(desktop){
		font-size: 1.2em;
		line-height: 1.1em;
	}
}

h5{
	font-size: 1em;
	line-height: 1em;

	@include breakpoint(tablet){
		font-size: 1.3em;
		line-height: 1.2em;
	}	

	@include breakpoint(desktop){
		font-size: 1.1em;
		line-height: 1em;
	}
}

h6{
	font-size: 1em;
	line-height: 1em;

	@include breakpoint(tablet){
		font-size: 1.3em;
		line-height: 1.2em;
	}	

	@include breakpoint(desktop){
		font-size: 1em;
		line-height: 1em;
	}
}

p{
	margin-bottom: 15px;

	&:last-of-type{
		margin-bottom: 0;
	}
}

/* ========================= STYLES ========================= */

html, body{
	height: 100%;
	min-height: 100%;
}

body{
	background: url(images/background.jpg) top left repeat-x #d6d6d6;
}

.content{
	@extend .clearfix;
	padding: 20px;
	line-height: 1.2em;

	@include breakpoint(tablet){
		padding: 30px;
		line-height: 1.3em;
	}

	@include breakpoint(desktop){
		padding: 40px;
		line-height: 1.4em;
	}
}
/* ========================= PAGES ========================= */

.page-header {
	width:100%;
	height:300px;
    position: relative;
    overflow: hidden;
	img {
	    position: absolute;
	    top: -9999px;
	    bottom: -9999px;
	    left: -9999px;
	    right: -9999px;
	    margin: auto;
	}
}
.faq_list{
	list-style:none;
	li {
		margin:10px 0;
	}
	.question {
		width:100%;
		background:#f5f5f5;
		padding:10px;
		margin:0;
		border-top:1px solid #d9d9d9;
		border-left:1px solid #d9d9d9;
		border-right:1px solid #d9d9d9;
	}
	.answers {
		width:100%;
		background:#FFF;
		padding:10px;
		margin:0;
		border:1px solid #d9d9d9;
	}
}