/*
Theme Name: Be Secure
*/
/* ========================= INIT ========================= */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix, .home-references, .heading, .resp_nav, .resp_nav ul, .bottom, .bottom ul, .footer, .product_list li, .circles, .wrap, .content {
  zoom: 1; }
  .clearfix:before, .home-references:before, .heading:before, .resp_nav:before, .resp_nav ul:before, .bottom:before, .bottom ul:before, .footer:before, .product_list li:before, .circles:before, .wrap:before, .content:before, .clearfix:after, .home-references:after, .heading:after, .resp_nav:after, .resp_nav ul:after, .bottom:after, .bottom ul:after, .footer:after, .product_list li:after, .circles:after, .wrap:after, .content:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after, .home-references:after, .heading:after, .resp_nav:after, .resp_nav ul:after, .bottom:after, .bottom ul:after, .footer:after, .product_list li:after, .circles:after, .wrap:after, .content:after {
    clear: both; }

img.desaturate {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(assets/desaturate.svg#greyscale); }
  img.desaturate:hover {
    filter: none;
    /* Applies to FF + IE */
    -webkit-filter: grayscale(0); }

@media (min-width: 1280px) {
  .hide-on-desktop {
    display: none; } }

ul.side.list li {
  display: block;
  padding: 5px 3px;
  border-bottom: 1px solid #d9d9d9; }
  ul.side.list li a {
    color: #828282; }
    ul.side.list li a:hover {
      color: #2c2c2c;
      text-decoration: none; }

ul.side.list li.current a {
  color: #184d9f; }

.btn, .btn-grey {
  display: inline;
  display: inline-block;
  padding: 10px;
  background: #184d9f;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-radius: 5px 5px 5px 5px; }
  .btn:hover, .btn-grey:hover {
    text-decoration: none; }

.btn-grey {
  background: #828282; }

a.more-after-list {
  display: block;
  float: right; }
  a.more-after-list:before, a.more-after-list:after {
    clear: both; }

/* ------- Fluid Columns ------- */
@media (min-width: 768px) {
  .one_half {
    width: 48%; } }

@media (min-width: 768px) {
  .one_third {
    width: 30.66%; } }

@media (min-width: 768px) {
  .two_third {
    width: 65.33%; } }

@media (min-width: 768px) {
  .one_fourth {
    width: 22%; } }

@media (min-width: 768px) {
  .three_fourth {
    width: 74%; } }

@media (min-width: 768px) {
  .one_fifth {
    width: 16.8%; } }

@media (min-width: 768px) {
  .two_fifth {
    width: 37.6%; } }

@media (min-width: 768px) {
  .three_fifth {
    width: 58.4%; } }

@media (min-width: 768px) {
  .four_fifth {
    width: 67.2%; } }

@media (min-width: 768px) {
  .one_sixth {
    width: 13.33%; } }

@media (min-width: 768px) {
  .five_sixth {
    width: 82.67%; } }

.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
  position: relative;
  margin-right: 4%;
  float: left; }

.last {
  margin-right: 0 !important;
  clear: right; }

.clearboth {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%; }

.slider {
  font-family: 'Open Sans', sans-serif !important; }
  .slider .tp-caption {
    font-family: 'Open Sans', sans-serif !important; }
  .slider .tp-button {
    /* RESET */
    background: none;
    border-radius: none;
    color: #FFFFFF !important;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    letter-spacing: normal;
    line-height: 45px !important;
    padding: 6px 13px 5px;
    text-decoration: none;
    text-shadow: none !important;
    box-shadow: none;
    /* CUSTOM */
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    background: #184d9f;
    padding: 10px;
    text-transform: uppercase; }
    .slider .tp-button:hover {
      /* RESET */
      box-shadow: none;
      /* CUSTOM */
      background: #113e68; }

ul.home-news {
  list-style: none; }
  ul.home-news li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d9d9; }
    ul.home-news li a {
      color: #828282; }
      ul.home-news li a:hover {
        color: #2c2c2c;
        text-decoration: none; }
    ul.home-news li h3.blog-title {
      font-size: 1em;
      margin: 0; }
    ul.home-news li .news_date {
      font-size: 0.8em;
      font-style: italic; }

.home-references {
  padding: 40px 20px;
  border-top: 1px solid #d9d9d9;
  text-align: center; }
  .home-references .ref_item-wrap {
    padding: 20px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-radius: 5px 5px 5px 5px; }
    .home-references .ref_item-wrap .ref_item-logo {
      display: table-cell;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      height: 120px;
      padding: 0 30px 20px; }
      .home-references .ref_item-wrap .ref_item-logo .reg_item-logo_wrap {
        width: 100%;
        height: 52px;
        display: inline-block; }
  .home-references a:hover {
    text-decoration: none; }

.big-cta, .big-cta-full {
  margin: 20px 0; }
  .big-cta a, .big-cta-full a {
    display: block;
    padding: 20px;
    border: 1px solid #d9d9d9;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    background: url("images/heading-bg.jpg") repeat-x scroll left bottom transparent; }
    .big-cta a:hover, .big-cta-full a:hover {
      text-decoration: none; }

.big-cta-full {
  padding: 0 30px; }
  .big-cta-full a {
    width: 100%; }

.home-packets {
  border-top: 1px solid #d9d9d9;
  padding: 20px 40px 40px;
  text-align: center;
  background: #e2f0fc;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e2f0fc 0%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2f0fc), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e2f0fc 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e2f0fc 0%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e2f0fc 0%, white 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e2f0fc 0%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f0fc', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */ }
  .home-packets .block-intro {
    padding-bottom: 30px; }
  .home-packets h2, .home-packets h3 {
    color: #113e68; }
  .home-packets .onethird {
    margin-bottom: 40px;
    border: 1px solid #d9d9d9;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 20px 0;
    background: #f6fbff;
    color: #828282;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    @media (min-width: 1024px) {
      .home-packets .onethird {
        float: left;
        width: 32%;
        margin-right: 2%;
        margin-bottom: 0px; }
        .home-packets .onethird:last-of-type {
          margin-right: 0; } }
    .home-packets .onethird ul {
      list-style: none;
      margin: 0;
      padding: 0 30px; }
      @media (min-width: 1024px) {
        .home-packets .onethird ul {
          min-height: 300px; } }
      .home-packets .onethird ul li {
        padding: 5px 10px;
        border-bottom: 1px solid #d9d9d9;
        line-height: 1.3em;
        font-size: 0.9em; }
        .home-packets .onethird ul li:last-of-type {
          border-bottom: 0; }
    .home-packets .onethird .ctas {
      margin-top: 20px; }
    .home-packets .onethird:hover {
      color: #2c2c2c;
      background: #fff;
      -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }

.home-toolate {
  padding: 40px 20px;
  text-align: center;
  color: #fff;
  background: url("images/toolate.jpg") center left no-repeat #020a17;
  background-position: -100px center; }
  @media (min-width: 768px) {
    .home-toolate {
      padding: 30px; } }
  @media (min-width: 1024px) {
    .home-toolate {
      text-align: left;
      padding: 70px 100px 70px 490px;
      font-size: 18px;
      line-height: 22px;
      background-position: -70px center; } }
  .home-toolate p.big {
    font-size: 26px;
    line-height: 32px; }
    .home-toolate p.big span {
      display: block; }
      @media (min-width: 1024px) {
        .home-toolate p.big span {
          display: inline; } }
  .home-toolate a.btn-cta {
    margin-top: 15px;
    display: block;
    color: #0095d5;
    text-decoration: underline; }
    .home-toolate a.btn-cta:hover {
      text-decoration: none; }

.heading {
  padding: 10px 20px;
  background: url(images/heading-bg.jpg) bottom left repeat-x; }
  @media (min-width: 768px) {
    .heading {
      padding: 15px 30px; } }
  .heading .heading--logo {
    float: left;
    width: 160px; }
    @media (min-width: 768px) {
      .heading .heading--logo {
        width: 20%; } }
  @media (min-width: 768px) {
    .heading .heading--nav {
      float: right; } }
  .heading .heading--nav ul {
    display: none; }
    @media (min-width: 768px) {
      .heading .heading--nav ul {
        display: block; } }
  .heading .heading--nav--resp {
    float: right;
    width: 20%;
    text-align: right;
    padding: 20px 0; }
    @media (min-width: 768px) {
      .heading .heading--nav--resp {
        display: none; } }
    .heading .heading--nav--resp a.toggle_resp_nav {
      padding: 5px;
      color: #828282;
      font-weight: bold;
      border: 1px solid #d9d9d9;
      -moz-border-radius: 5px 5px 5px 5px;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      border-radius: 5px 5px 5px 5px; }
      .heading .heading--nav--resp a.toggle_resp_nav:hover {
        text-decoration: none;
        color: #2c2c2c; }
  .heading .heading-cta {
    display: none; }
    @media (min-width: 1024px) {
      .heading .heading-cta {
        display: block;
        float: right;
        text-align: right;
        margin-left: 20px;
        padding: 7px 0 0; } }
    @media (min-width: 1280px) {
      .heading .heading-cta {
        padding-top: 10px; } }
    .heading .heading-cta a {
      display: block;
      padding: 10px;
      border: 1px solid #d9d9d9;
      -moz-border-radius: 5px 5px 5px 5px;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      border-radius: 5px 5px 5px 5px;
      text-align: center;
      font-weight: 800;
      color: #0095d5;
      text-transform: uppercase;
      background: url("images/heading-bg.jpg") repeat-x scroll left bottom transparent; }
      .heading .heading-cta a:hover {
        text-decoration: none; }

ul.sitenav {
  float: right;
  padding: 18px 0 10px; }
  @media (min-width: 768px) {
    ul.sitenav {
      padding: 16px 0 10px; } }
  @media (min-width: 1024px) {
    ul.sitenav {
      padding: 19px 0 10px; } }
  @media (min-width: 1280px) {
    ul.sitenav {
      padding: 20px 0 10px; } }
  ul.sitenav li {
    display: inline-block;
    margin-left: 7px;
    padding-left: 7px; }
    @media (min-width: 1280px) {
      ul.sitenav li {
        margin-left: 15px;
        padding-left: 15px; } }
    ul.sitenav li a {
      display: block;
      float: left;
      color: #828282;
      font-size: 0.8em;
      text-transform: uppercase; }
      @media (min-width: 768px) {
        ul.sitenav li a {
          font-size: 0.9em; } }
      @media (min-width: 1280px) {
        ul.sitenav li a {
          font-size: 1em; } }
    ul.sitenav li a:hover {
      color: #2c2c2c;
      text-decoration: none; }
  ul.sitenav li.current-menu-item a, ul.sitenav li.current-page-ancestor a {
    color: #184d9f; }
  ul.sitenav li:first-of-type {
    border-left: 0; }

.resp_nav {
  display: none; }
  .resp_nav ul {
    float: none;
    clear: both;
    margin: 0;
    padding: 10px 0; }
    .resp_nav ul li {
      display: block;
      width: 90%;
      text-align: center;
      padding: 5px 0;
      margin: 0 auto 5px auto;
      border: 0;
      border-bottom: 1px solid #d9d9d9; }
      .resp_nav ul li a {
        display: block;
        float: none; }

.bottom {
  padding: 20px;
  background: #f5f5f5;
  border-top: 1px solid #d9d9d9;
  font-size: 0.9em; }
  .bottom ul {
    width: 100%; }
    .bottom ul li.parent_list {
      display: block;
      text-align: center;
      margin-top: 30px; }
      @media (min-width: 480px) {
        .bottom ul li.parent_list {
          width: 50%;
          float: left; }
          .bottom ul li.parent_list:nth-child(2n+1) {
            clear: both; } }
      @media (min-width: 768px) {
        .bottom ul li.parent_list {
          width: 25%;
          float: left;
          margin-top: 0; }
          .bottom ul li.parent_list:nth-child(2n+1) {
            clear: none; } }
      .bottom ul li.parent_list h4 {
        font-size: 1.2em; }
      .bottom ul li.parent_list ul {
        padding: 0 10px; }
        .bottom ul li.parent_list ul li {
          display: block;
          float: none;
          clear: both;
          margin: 0;
          padding: 5px 0;
          text-align: center; }
          .bottom ul li.parent_list ul li a {
            display: block;
            text-align: center;
            color: #828282; }
            .bottom ul li.parent_list ul li a:hover {
              text-decoration: none;
              color: #184d9f; }
    .bottom ul li:last-of-type ul li {
      border-top: 0; }
      .bottom ul li:last-of-type ul li:last-of-type {
        border-bottom: 0; }

.footer {
  padding: 20px;
  border-top: 1px solid #d9d9d9;
  font-size: 0.8em; }
  .footer .footer--left {
    text-align: center; }
    @media (min-width: 768px) {
      .footer .footer--left {
        text-align: left;
        float: left;
        width: 47%; } }
  .footer .footer--right {
    text-align: center; }
    @media (min-width: 768px) {
      .footer .footer--right {
        float: right;
        width: 47%;
        text-align: right; } }

ul.footernav {
  display: inline;
  display: inline-block; }
  @media (min-width: 768px) {
    ul.footernav {
      float: right; } }
  ul.footernav li {
    display: block;
    float: left;
    margin: 0 0 0 20px; }
    ul.footernav li a {
      color: #828282; }
      ul.footernav li a:hover {
        color: #2c2c2c;
        text-decoration: none; }

ul.contacts {
  list-style: none; }
  ul.contacts li {
    margin-bottom: 40px; }
    ul.contacts li p {
      margin: 0; }
    ul.contacts li p.name {
      font-weight: bold; }
    ul.contacts li p.function {
      font-style: italic;
      color: #828282;
      font-size: 0.9em;
      margin-bottom: 5px; }

.wpcf7-form {
  padding-top: 20px; }
  .wpcf7-form p {
    margin-bottom: 20px; }
  .wpcf7-form input, .wpcf7-form textarea, .wpcf7-form select {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 7px 10px;
    border: 1px solid #d9d9d9;
    width: 100%;
    color: #828282; }
    @media (min-width: 768px) {
      .wpcf7-form input, .wpcf7-form textarea, .wpcf7-form select {
        width: 60%; } }
  .wpcf7-form textarea {
    width: 100%; }
  .wpcf7-form input.wpcf7-submit {
    float: right;
    width: auto;
    color: #fff;
    border: 0;
    font-weight: bold;
    padding: 10px;
    background: #184d9f; }
  .wpcf7-form img {
    width: auto;
    height: auto; }

.product_list {
  list-style-type: none; }
  .product_list li {
    display: block; }
    @media (min-width: 768px) {
      .product_list li .product_thumb {
        float: right;
        width: 20%; } }
    @media (min-width: 768px) {
      .product_list li .product_content {
        float: left;
        width: 75%; } }
    .product_list li .product_content ul {
      list-style-type: disc;
      list-style-position: inside; }

.blogposts {
  margin: 0;
  padding: 0;
  list-style: none; }
  .blogposts li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #184d9f; }
    @media (min-width: 768px) {
      .blogposts li {
        margin-bottom: 40px;
        padding-bottom: 40px; } }

/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: none;
  top: 0;
  left: 0; }

.reveal-modal {
  visibility: hidden;
  top: 100px;
  left: 50%;
  margin-left: -300px;
  width: 520px;
  background: #eee url(images/modal-gloss.png) no-repeat -200px -80px;
  position: absolute;
  z-index: 101;
  padding: 30px 40px 34px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }

.reveal-modal.small {
  width: 200px;
  margin-left: -140px; }

.reveal-modal.medium {
  width: 400px;
  margin-left: -240px; }

.reveal-modal.large {
  width: 600px;
  margin-left: -340px; }

.reveal-modal.xlarge {
  width: 800px;
  margin-left: -440px; }

.reveal-modal .close-reveal-modal {
  font-size: 22px;
  line-height: .5;
  position: absolute;
  top: 8px;
  right: 11px;
  color: #aaa;
  text-shadow: 0 -1px 1px rbga(0, 0, 0, 0.6);
  font-weight: bold;
  cursor: pointer; }

.reveal-modal {
  margin: 0;
  left: 5%;
  width: 90%; }
  @media (min-width: 768px) {
    .reveal-modal {
      width: 70%;
      left: 15%; } }
  @media (min-width: 1280px) {
    .reveal-modal {
      width: 600px;
      left: 50%;
      margin-left: -340px; } }

.reveal-modal .wpcf7-form {
  padding-top: 20px; }
  .reveal-modal .wpcf7-form p {
    margin-bottom: 20px; }
  .reveal-modal .wpcf7-form input, .reveal-modal .wpcf7-form textarea, .reveal-modal .wpcf7-form select {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 7px 10px;
    border: 1px solid #d9d9d9;
    width: 100%;
    color: #828282; }
    @media (min-width: 768px) {
      .reveal-modal .wpcf7-form input, .reveal-modal .wpcf7-form textarea, .reveal-modal .wpcf7-form select {
        width: 100%; } }
    @media (min-width: 1280px) {
      .reveal-modal .wpcf7-form input, .reveal-modal .wpcf7-form textarea, .reveal-modal .wpcf7-form select {
        width: 60%;
        margin: 0; } }
  .reveal-modal .wpcf7-form textarea {
    width: 100%; }
  .reveal-modal .wpcf7-form input.wpcf7-submit {
    float: right;
    width: auto;
    color: #fff;
    border: 0;
    font-weight: bold;
    padding: 10px;
    background: #184d9f; }
  .reveal-modal .wpcf7-form img {
    width: auto;
    height: auto; }

/*
		
	NOTES
	
	Close button entity is &#215;
	
	Example markup
	
	<div id="myModal" class="reveal-modal">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch.  I it's mine.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	*/
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center; }

/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5; }

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
  text-decoration: none; }

/* Styling Pagination*/
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */ }

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #0061b2; }

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1; }

/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; }

/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center; }

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y; }

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%; }

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

.owl-carousel .owl-item {
  float: left; }

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer; }

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move; }

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

/* ========================= GLOBAL ========================= */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.circles {
  position: absolute;
  width: 800px;
  height: 831px;
  top: 20%;
  left: 50%;
  margin: -500px 0 0 -860px;
  background: url(images/circles.png) top center no-repeat; }

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block; }

ul {
  list-style-type: disc;
  list-style-position: inside; }

/* ========================= GRID ========================= */
.wrap {
  position: relative;
  z-index: 100;
  background: #fff;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); }
  @media (min-width: 480px) {
    .wrap {
      margin: 20px auto;
      width: 90%; } }
  @media (min-width: 768px) {
    .wrap {
      width: 728px; } }
  @media (min-width: 1024px) {
    .wrap {
      width: 960px; } }
  @media (min-width: 1280px) {
    .wrap {
      width: 1100px; } }

.twothird_column {
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .twothird_column {
      float: left;
      width: 75%;
      margin-bottom: 0px; } }

@media (min-width: 768px) {
  .onethird_column {
    float: right;
    width: 20%; } }

.onethird_column_left {
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .onethird_column_left {
      float: left;
      width: 15%;
      margin-bottom: 0px; } }

@media (min-width: 768px) {
  .twothird_column_right {
    float: right;
    width: 80%; } }

/* ========================= TYPOGRAPHY ========================= */
html, body {
  font-size: 100%;
  line-height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  color: #2c2c2c;
  line-height: 1.3em; }

a {
  text-decoration: none;
  color: #184d9f;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  a:hover {
    text-decoration: underline; }

strong {
  font-weight: 800; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  margin-bottom: 10px; }

h1 {
  font-size: 1.3em;
  line-height: 1.2em; }
  @media (min-width: 768px) {
    h1 {
      font-size: 1.4em;
      line-height: 1.2em; } }
  @media (min-width: 1280px) {
    h1 {
      font-size: 1.5em;
      line-height: 1.4em; } }

h2 {
  font-size: 1.2em;
  line-height: 1.1em; }
  @media (min-width: 768px) {
    h2 {
      font-size: 1.3em;
      line-height: 1.1em; } }
  @media (min-width: 1280px) {
    h2 {
      font-size: 1.4em;
      line-height: 1.3em; } }

h3 {
  font-size: 1.1em;
  line-height: 1em; }
  @media (min-width: 768px) {
    h3 {
      font-size: 1.2em;
      line-height: 1em; } }
  @media (min-width: 1280px) {
    h3 {
      font-size: 1.3em;
      line-height: 1.2em; } }

h4 {
  font-size: 1em;
  line-height: 1em; }
  @media (min-width: 768px) {
    h4 {
      font-size: 1.1em;
      line-height: 1em; } }
  @media (min-width: 1280px) {
    h4 {
      font-size: 1.2em;
      line-height: 1.1em; } }

h5 {
  font-size: 1em;
  line-height: 1em; }
  @media (min-width: 768px) {
    h5 {
      font-size: 1.3em;
      line-height: 1.2em; } }
  @media (min-width: 1280px) {
    h5 {
      font-size: 1.1em;
      line-height: 1em; } }

h6 {
  font-size: 1em;
  line-height: 1em; }
  @media (min-width: 768px) {
    h6 {
      font-size: 1.3em;
      line-height: 1.2em; } }
  @media (min-width: 1280px) {
    h6 {
      font-size: 1em;
      line-height: 1em; } }

p {
  margin-bottom: 15px; }
  p:last-of-type {
    margin-bottom: 0; }

/* ========================= STYLES ========================= */
html, body {
  height: 100%;
  min-height: 100%; }

body {
  background: url(images/background.jpg) top left repeat-x #d6d6d6; }

.content {
  padding: 20px;
  line-height: 1.2em; }
  @media (min-width: 768px) {
    .content {
      padding: 30px;
      line-height: 1.3em; } }
  @media (min-width: 1280px) {
    .content {
      padding: 40px;
      line-height: 1.4em; } }

/* ========================= PAGES ========================= */
.page-header {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden; }
  .page-header img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto; }

.faq_list {
  list-style: none; }
  .faq_list li {
    margin: 10px 0; }
  .faq_list .question {
    width: 100%;
    background: #f5f5f5;
    padding: 10px;
    margin: 0;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9; }
  .faq_list .answers {
    width: 100%;
    background: #FFF;
    padding: 10px;
    margin: 0;
    border: 1px solid #d9d9d9; }
