.blogposts{
	margin: 0;
	padding: 0;
	list-style: none;

	li{
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 2px solid $blue;

		@include breakpoint(tablet){
			margin-bottom: 40px;
			padding-bottom: 40px;
		}
	}
}