ul.contacts{
	list-style: none;

	li{
		margin-bottom: 40px;

		p{
			margin: 0;
		}

		p.name{
			font-weight: bold;
		}

		p.function{
			font-style: italic;
			color: $grey;
			font-size: 0.9em;
			margin-bottom: 5px;
		}
	}
}

.wpcf7-form{
	padding-top: 20px;

	p{
		margin-bottom: 20px;
	}
	
	input, textarea, select{
		@include border-radius();
		padding: 7px 10px;
		border: 1px solid $lgrey;
		width: 100%;
		color: $grey;

		@include breakpoint(tablet){
			width: 60%;
		}
	}

	textarea{
		width: 100%;
	}

	input.wpcf7-submit{
		float: right;
		width: auto;
		color: #fff;
		border: 0;
		font-weight: bold;
		padding: 10px;
		background: $blue;
	}

	img{
		width: auto;
		height: auto;
	}
}