.bottom{
	@extend .clearfix;
	padding: 20px;
	background: #f5f5f5;
	border-top: 1px solid $lgrey;
	font-size: 0.9em;

	ul{
		width: 100%;
		@extend .clearfix;

		li.parent_list{
			display: block;
			text-align: center;
			margin-top: 30px;

			@include breakpoint(mobile-ls){
				width: 50%;
				float: left;

				&:nth-child(2n+1){
					clear: both;
				}
			}

			@include breakpoint(tablet){
				width: 25%;
				float: left;
				margin-top: 0;

				&:nth-child(2n+1){
					clear: none;
				}
			}

			h4{
				font-size: 1.2em;
			}

			ul{
				padding: 0 10px;

				li{
					display: block;
					float: none;
					clear: both;
					margin: 0;
					padding: 5px 0;
					text-align: center;

					a{
						display: block;
						text-align: center;
						color: $grey;

						&:hover{
							text-decoration: none;
							color: $blue;
						}
					}
				}
			}
		}

		li:last-of-type{

			ul{

				li{
					border-top: 0;

					&:last-of-type{
						border-bottom: 0;
					}
				}
			}
		}
	}
}

.footer{
	@extend .clearfix;
	padding: 20px;
	border-top: 1px solid $lgrey;
	font-size: 0.8em;

	.footer--left{
		text-align: center;
		@include breakpoint(tablet){
			text-align: left;
			float: left;
			width: 47%;
		}
	}

	.footer--right{
		text-align: center;
		@include breakpoint(tablet){
			float: right;
			width: 47%;
			text-align: right;
		}
	}
}

ul.footernav{
	display: inline;
	display: inline-block;
	
	@include breakpoint(tablet){
		float: right;
	}

	li{
		display: block;
		float: left;
		margin: 0 0 0 20px;

		a{
			color: $grey;
			&:hover{
				color: $dgrey;
				text-decoration: none;
			}
		}
	}
}