.heading{
	@extend .clearfix;
	padding: 10px 20px;
	background: url(images/heading-bg.jpg) bottom left repeat-x;

	@include breakpoint(tablet){
		padding: 15px 30px;
	}

	.heading--logo{
		float: left;
		width: 160px;

		@include breakpoint(tablet){
			width: 20%;
		}
	}

	.heading--nav{

		@include breakpoint(tablet){
			float: right;
		}

		ul{
			display: none;
			@include breakpoint(tablet){
				display: block;
			}
		}
	}

	.heading--nav--resp{
		float: right;
		width: 20%;
		text-align: right;
		padding: 20px 0;

		@include breakpoint(tablet){
			display: none;
		}

		a.toggle_resp_nav{
			padding: 5px;
			color: $grey;
			font-weight: bold;
			border: 1px solid $lgrey;
			@include border-radius();

			&:hover{
				text-decoration: none;
				color: $dgrey;
			}
		}
	}

	.heading-cta{
		display: none;

		@include breakpoint(tablet-ls){
			display: block;
			float: right;
			text-align: right;
			margin-left: 20px;
			padding: 7px 0 0;
		}

		@include breakpoint(desktop){
			padding-top: 10px;
		}

		a{
			display: block;
			padding: 10px;
			border: 1px solid $lgrey;
			@include border-radius();
			text-align: center;
			font-weight: 800;
			color: $lblue;
			text-transform: uppercase;
			background: url("images/heading-bg.jpg") repeat-x scroll left bottom rgba(0, 0, 0, 0);

			&:hover{
				text-decoration: none;
			}
		}
	}
}

ul.sitenav{
	float: right;
	padding: 18px 0 10px;

	@include breakpoint(tablet){
		padding: 16px 0 10px;
	}

	@include breakpoint(tablet-ls){
		padding: 19px 0 10px;
	}

	@include breakpoint(desktop){
		padding: 20px 0 10px;
	}

	li{
		display: inline-block;
		margin-left: 7px;
		// border-left: 1px solid $lgrey;
		padding-left: 7px;

		@include breakpoint(desktop){
			margin-left: 15px;
			padding-left: 15px;
		}

		a{
			display: block;
			float: left;
			color: $grey;
			font-size: 0.8em;
			text-transform: uppercase;

			@include breakpoint(tablet){
				font-size: 0.9em;
			}

			@include breakpoint(desktop){
				font-size: 1em;
			}
		}

		a:hover{
			color: $dgrey;
			text-decoration: none;
		}
	}

	li.current-menu-item, li.current-page-ancestor{

		a{
			color: $blue;
		}
	}

	li:first-of-type{
		border-left: 0;
	}
}

.resp_nav{
	@extend .clearfix;
	display: none;

	ul{
		@extend .clearfix;
		float: none;
		clear: both;
		margin: 0;
		padding: 10px 0;

		li{
			display: block;
			width: 90%;
			text-align: center;
			padding: 5px 0;
			margin: 0 auto 5px auto;
			border: 0;
			border-bottom: 1px solid $lgrey;

			a{
				display: block;
				float: none;
			}
		}
	}
}