.slider{
	font-family: 'Open Sans', sans-serif !important;

	.tp-caption{
		font-family: 'Open Sans', sans-serif !important;
	}

	.tp-button{
		/* RESET */
		background: none;
		border-radius: none;
		color: #FFFFFF !important;
		cursor: pointer;
		font-family: 'Open Sans', sans-serif !important;
		font-size: 15px;
		font-weight: bold;
		height: 30px;
		letter-spacing: normal;
		line-height: 45px !important;
		padding: 6px 13px 5px;
		text-decoration: none;
		text-shadow: none !important;
		box-shadow: none;
		/* CUSTOM */
		@include border-radius();
		background: $blue;
		padding: 10px;
		text-transform: uppercase;

		&:hover{
			/* RESET */
			box-shadow: none;
			/* CUSTOM */
			background: $dblue;
		}
	}
}

ul.home-news{
	list-style: none;

	li{
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid $lgrey;

		a{
			color: $grey;

			&:hover{
				color: $dgrey;
				text-decoration: none;
			}
		}

		h3.blog-title{
			font-size: 1em;
			margin: 0;
		}

		.news_date{
			font-size: 0.8em;
			font-style: italic;
		}
	}
}

.home-references{
	@extend .clearfix;
	padding: 40px 20px;
	border-top: 1px solid $lgrey;
	text-align: center;

	.ref_item-wrap{
		padding: 20px;
		@include border-radius();

		.ref_item-logo{
			display: table-cell;
			display: table-cell;
    		vertical-align: middle;
    		text-align: center;
			height: 120px;
			padding: 0 30px 20px;

			.reg_item-logo_wrap{
				width: 100%;
    			height: 52px;
    			display: inline-block;
			}
		}

		.ref_item-name{
		}
	}

	a:hover{
		text-decoration: none;
	}
}

.big-cta{
	margin: 20px 0;

	a{
		display: block;
		padding: 20px;
		border: 1px solid $lgrey;
		@include border-radius();
		text-align: center;
		font-weight: 800;
		text-transform: uppercase;
		background: url("images/heading-bg.jpg") repeat-x scroll left bottom rgba(0, 0, 0, 0);

		&:hover{
			text-decoration: none;
		}
	}
}

.big-cta-full{
	@extend .big-cta;
	
	padding: 0 30px;

	a{
		width: 100%;
	}
}

.home-packets{
	border-top: 1px solid $lgrey;
	padding: 20px 40px 40px;
	text-align: center;

	background: rgb(226,240,252); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(226,240,252,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,240,252,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(226,240,252,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(226,240,252,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(226,240,252,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(226,240,252,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f0fc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

	.block-intro{
		padding-bottom: 30px;
	}

	h2, h3{
		color: $dblue;
	}

	.onethird{
		margin-bottom: 40px;
		border: 1px solid $lgrey;
		@include border-radius();
		padding: 20px 0;
		background: #f6fbff;
		color: $grey;
		@include transition( all, 0.2s, ease-in-out);

		@include breakpoint(tablet-ls){
			float: left;
			width: 32%;
			margin-right: 2%;
			margin-bottom: 0px;

			&:last-of-type{
				margin-right: 0;
			}
		}

		ul{
			list-style: none;
			margin: 0;
			padding: 0 30px;

			@include breakpoint(tablet-ls){
				min-height: 300px;
			}

			li{
				padding: 5px 10px;
				border-bottom: 1px solid $lgrey;
				line-height: 1.3em;
				font-size: 0.9em;

				&:last-of-type{
					border-bottom: 0;
				}
			}
		}

		.ctas{
			margin-top: 20px;
		}

		&:hover{
			color: $dgrey;
			background: #fff;
			@include box-shadow(0px, 0px, 5px, rgba(0, 0, 0, 0.2));
		}
	}
}

.home-toolate{
	padding: 40px 20px;
	text-align: center;
	color: #fff;
	background: url('images/toolate.jpg') center left no-repeat #020a17;
	background-position: -100px center; 

	@include breakpoint(tablet){
		padding: 30px;
	}
	
	@include breakpoint(tablet-ls){
		text-align: left;
		padding: 70px 100px 70px 490px;
		font-size: 18px;
		line-height: 22px;
		background-position: -70px center;
	}

	p.big{
		font-size: 26px;
		line-height: 32px;

		span{
			display: block;

			@include breakpoint(tablet-ls){
				display: inline;
			}
		}
	}

	a.btn-cta{
		margin-top: 15px;
		display: block;
		color: $lblue;
		text-decoration: underline;

		&:hover{
			text-decoration: none;
		}
	}
}