.product_list{
	list-style-type: none;

	li{
		@extend .clearfix;
		display: block;

		.product_thumb{
			
			@include breakpoint(tablet){
				float: right;
				width: 20%;
			}
		}

		.product_content{

			@include breakpoint(tablet){
				float: left;
				width: 75%;
			}

			ul{
				list-style-type: disc; 
				list-style-position: inside; 
			}
		}
	}
}